.details {
  margin-top: 1em;
  margin-bottom: 2em;

  .message {
    color: red;
    margin: 2em 0;
    text-align: center;
  }

  .delete-alert {   
    position: fixed;
    width: 20%;
    height: 10em;
    left: 40%;
    top: 10%;
    padding: 1em;
    box-sizing: border-box;
    background-color: #d33131;
    color: #ffffff;
  }

  .clearfix {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }

  .clearfix .cancel-btn {
    margin-right: 2em;
  }

  .clearfix button {
    border-radius: 0.7em;
    padding: 0.3em 1em;
    border: 0;
  }

  .clearfix button:hover {
    color: #000000;
    background-color: white;
  }

  .post-header {
    display: flex;
    margin: 0 auto;
    
    div, .profile-image {
      width: 9%;
      margin-left: auto;
      margin-right: auto;
    }

    .profile-image {
      color: #000000;
      text-decoration: none;
    }
  
    .profile-image > img {
      width: 4em;
      height: 4em;
      border-radius: 50%;
    }
    
    .heart-icon {
      width: 2em;
      margin-top: 1em;
    }

    .author-icons {
      display: flex;
    }

    .edit-icon {
      width: 1.4em;
      margin-right: 0.2em;
      margin-left: -1em;
    }

    .delete-icon {
      width: 1.1em;
    }
  }

  img {
    width: 25em;
    height: auto;
  }
  
  .calendar-icon {
    width: 1em;
    margin-right: 0.3em;      
  }

  .info-icon {
    width: 0.5em;
    margin-right: 0.3em; 
  }        

  .location-icon {
    width: 0.8em;
    margin-right: 0.4em;
  }
  
  .post-footer {
    margin: 0 auto;
    width: 9em;
    text-align: center;
  }

  .post-footer > div {
    display: flex;
    margin-top: 1em;
  }
}