.details {
  margin: 1em auto 2em auto;

  .message {
    color: red;
    margin: 2em 0;
    text-align: center;
  }

  .delete-alert {
    position: fixed;
    width: 20%;
    height: 10em;
    left: 40%;
    top: 10%;
    padding: 1em;
    box-sizing: border-box;
    background-color: #d33131;
    color: #ffffff;
  }

  .clearfix {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }

  .clearfix .cancel-btn {
    margin-right: 2em;
  }

  .clearfix button {
    border-radius: 0.7em;
    padding: 0.3em 1em;
    border: 0;
  }

  .clearfix button:hover {
    color: #000000;
    background-color: white;
  }

  .post-header {
    display: flex;
    margin: 2em auto;

    div,
    .profile-image {
      width: 3.5em;
      margin-left: auto;
      margin-right: auto;
    }

    .profile-image {
      color: #000000;
      text-decoration: none;
    }

    .profile-image > img {
      width: 4em;
      height: 4em;
      border-radius: 50%;
    }

    .heart-icon {
      width: 2em;
      margin-top: 1em;
    }

    .author-icons {
      display: flex;
      margin-top: 0.3em;
    }

    .add-icon {
      width: 1.6em;
    }

    .edit-icon {
      width: 1.8em;
    }

    .delete-icon {
      width: 1.4em;
    }
  }

  img {
    width: 25em;
    height: auto;
  }

  .fade-enter-from {
    opacity: 0;
  }
  .fade-enter-to {
    opacity: 1;
  }
  .fade-enter-active {
    transition: all 1s ease;
  }

  .post-footer {
    margin: 0 auto;
    width: 15em;
    text-align: center;

    .calendar-icon,
    .info-icon,
    .location-icon {
      width: 1.5em;
      height: 1.5em;
      margin-right: 0.3em;
    }

    p {
      width: 9em;
      overflow-wrap: break-word;
      word-wrap: break-word;
    }

    img {
      padding: 0 2em;
    }

    div {
      display: flex;
      margin-top: 1em;
    }
  }

  @media only screen and (max-width: 500px) {
    .post-image {
      width: 15em;
      height: auto;
    }

    .post-header {
      .profile-image {
        margin: 0;
      }

      div,
      .profile-image {
        margin: 0 auto;
      }
    }
  }

  @media only screen and (max-width: 1200px) {
    .delete-alert {
      position: static;
      width: 20em;
      margin: 0 auto;
    }
  }

  @media only screen and (max-width: 600px) {
    .delete-alert {
      position: static;
      width: 15em;
      margin: 0 auto;
    }
  }
}
