.register {
  * {
    display: block;
    margin: 1em auto;
  }

  .error {
    color: red;
  }

  input {
    width: 30em;
    height: 2em;
  }

  .submit-btn {
    border: none;
    width: 30em;
    background: #111111;
    color: #ffff;
  }
}

@media only screen and (max-width: 700px) {
  .register {
    input {
      width: 15em;
      border: 1px solid #000;
    }

    .submit-btn {
      width: 15em;
      border: 1px solid #000;
    }
  }
}