.edit-photo {
  * {
    display: block;
    margin: 1em auto;
  }

  .error {
    color: red;
  }

  input {
    width: 30em;
    height: 2em;
  }

  #file {
    display: none;
  }

  .uploaded-image {
    width: 8em;
  }

  .upload-label {
    background-color: #eeeeee;
    color: #000;
    border: none;
    border-radius: 5px;
    width: 20em;
    padding: 0.5em 1.5em;
  }

  .categories-dropdown {
    width: 30em;
    height: 2em;
  }

  .submit-btn {
    border: none;
    width: 30em;
    background: #111111;
    color: #ffff;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: rgba(0, 0, 0, 0.467);
  }
}

@media only screen and (max-width: 700px) {
  .edit-photo {
    input {
      width: 15em;
      border: 1px solid #000;
    }

    .categories-dropdown,
    .submit-btn {
      width: 15em;
      border: 1px solid #000;
    }

    .upload-label {
      width: 8em;
      margin: 1em auto;
    }
  }
}
