.home {  
  .search {
    position: relative;

    .search-input {
      padding: 1em 0;
      padding-left: 2em;
      width: 20em;
      height: 2em;
      outline: 0;
      outline-width: 0;
      border: 0;
      margin-left: 3em;
      border-bottom: 1px solid #000;
      -moz-outline-style: none;
    }

    .search-input::-webkit-input-placeholder {
      font-size: 1.3em;
      line-height: 3;
    }

    .search-input:focus,
    .search-input:active,
    .icon:focus,
    .icon:active {
      outline: 0;
      outline-width: 0;
      -moz-outline-style: none;
    }

    .icon {
      background: url(../../assets/icons/search.svg);
      position: absolute;
      top: 10px;
      margin: 0 auto;
      border: 0;
      padding: 11px;
      min-width: 11.1px;
      min-height: 11.1px;
      margin-right: 2em;
    }

    .icon:hover {
      background: url(../../assets/icons/search-hover.svg);
      padding: 9px;
    }
  }

  .categories {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 4fr));
    width: 35em;
    grid-gap: 1em;
    margin: 2em auto;

    .tab-switch {
      display: none;
    }

    li {
      margin: 0 auto;
      width: 5em;
      margin: 0 auto;
      text-align: center;
      padding: 0.9em 1.3em;
      background-color: lightgray;
      text-decoration: none;
      color: #000;
      border-radius: 0.7em;
      list-style: none;
    }

    li:hover,
    li > label:hover {
      color: #fff;
      cursor: pointer;
    }

    .clicked {
      color: #fff;
    }
  }

  .posts {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 2fr));
    grid-gap: 1em;
    margin: 2em auto;
    padding: 0 5em;

    a {
      text-decoration: none;
      color: #000;
    }

    img {
      width: 100%;
      max-width: 30em;
      height: 25em;
      object-fit: cover;
      transition: 0.3s ease-in-out;
      background-size: 100%;
    }

    .image:hover {
      -webkit-transform: scale(1.01);
      transform: scale(1.01);
      //transform: scale(0.99);
    }
  }

  .loader {
    margin: 1em auto;
    width: 7em;
  }

  .no-content {
    margin-top: 1em;

    img {
      width: 15em;
      height: auto;
    }
  }

  @media only screen and (max-width: 998px) {
    .posts {
      padding: 0 1em;
    }
  }

  @media only screen and (max-width: 580px) {
    .categories {
      width: 18em;
      grid-gap: 1em;    

      li {
        padding: 0.5em 1em;
      }
    }

    .search {
      position: relative;
  
      .search-input {
        width: 10em;
      }
    }
  }

  @media only screen and (max-width: 580px) {
    .posts {
      display: block;
      padding: 0 0.5em;
    }

    .posts a {
      margin-top: 2em;
    }

    .posts a:first-child {
      margin-top: 0;
    }
  }

  @media only screen and (max-width: 300px) {
    .categories {
      width: 10em;
      grid-gap: 1em;    

      li {
        padding: 0.5em 1em;
      }
    }
  }
}
