.home {
  .search {
    position: relative;    
    margin-left: -2.5em;

    .search-input {
      margin-left: 3em;
      padding: 1em;
      width: 20em;
      height: 2em;
      outline: 0;
      outline-width: 0;
      border: 0;
      border-bottom: 1px solid #000;
      -moz-outline-style: none;
    }

    .search-input::-webkit-input-placeholder {
      font-size: 1.3em;
      line-height: 3;
    }

    .search-icon,
    .filter-icon {
      position: absolute;
      outline: none;
      top: 10px;
      border: 0;
      padding: 11px;
      margin: 0.5em 0;
      min-width: 11.1px;
      min-height: 11.1px;
    }

    .filter-icon {
      background: url(../../assets/icons/filter-solid.svg);      
    }

    .filter-icon:hover {
      background: url(../../assets/icons/filter-solid-orange.svg);
    }

    .search-icon {
      background: url(../../assets/icons/search-solid.svg);
    }

    .search-icon:hover {
      background: url(../../assets/icons/search-hover.svg);
    }
  }
  
  .filters-menu {
    display: block;
    margin: 1em auto;
    width: 8em;
    background-color: #d3d3d3;    
    border-radius: 1em;
    
    li {
      list-style: none;
      padding-top: 0.7em;
    }
    
    li:hover {        
      color: #fff;
    }
  }

  .categories {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill, minmax(6rem, 5fr));
    width: 35em;
    grid-gap: 1.5em;
    margin: 2em auto;
    text-align: center;

    .tab-switch {
      display: none;
    }

    li {
      margin: 0 auto;
      width: 5em;
      margin: 0 auto;
      text-align: center;
      padding: 0.9em 1.5em;
      background-color: lightgray;
      text-decoration: none;
      color: #000;
      border-radius: 0.7em;
      list-style: none;
    }

    li:hover,
    li > label:hover {
      color: #fff;
      cursor: pointer;
    }

    .clicked {
      color: #fff;
      font-weight: 800;
    }
  }

  .posts {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 2fr));
    grid-gap: 1em;
    margin: 2em auto;
    padding: 0 5em;

    a {
      text-decoration: none;
      color: #000;
    }

    img {
      width: 100%;
      max-width: 30em;
      height: 25em;
      object-fit: cover;
      transition: 0.3s ease-in-out;
      background-size: 100%;
    }

    .image:hover {
      -webkit-transform: scale(1.01);
      transform: scale(1.01);
      //transform: scale(0.99);
    }

    .fade-enter-from {
      opacity: 0;  
    }
    .fade-enter-to {
      opacity: 1;    
    }
    .fade-enter-active {
      transition: all 1.35s ease;
    }
  }  

  .loader {
    margin: 1em auto;
    width: 7em;
  }

  .no-content {
    margin-top: 1em;

    img {
      width: 15em;
      height: auto;
    }
  }

  @media only screen and (max-width: 998px) {
    .posts {
      padding: 0 1em;
    }
  }

  @media only screen and (max-width: 580px) {
    .categories {
      width: 18em;
      grid-gap: 1em;

      li {
        padding: 0.5em 1em;
      }
    }

    .search {
      position: relative;

      .search-input {
        width: 10em;
      }
    }
  }

  @media only screen and (max-width: 580px) {
    .posts {
      display: block;
      padding: 0 0.5em;
    }

    .posts a {
      margin-top: 2em;
    }

    .posts a:first-child {
      margin-top: 0;
    }
  }

  @media only screen and (max-width: 300px) {
    .categories {
      width: 10em;
      grid-gap: 1em;

      li {
        padding: 0.5em 1em;
      }
    }
  }
}
