.dashboard {
    .routes {
        display: flex;
        justify-content: space-between;
        width: 15em;
        margin: 0 auto;

        li{
            text-decoration: none;
            list-style: none;
            
          a {
            text-decoration: none;
            color: #000;
          }

          a:hover {
            color: #56b27c;
          }
        }
    }

    .main {
        display: flex;
        justify-content: space-between;
        width: 78em;
    }

    .couters {
        display: flex;
        justify-content: space-between;
        width: 15em;
        margin-top: 12em;
        margin-left: 15em;        
    }

    .stats {
        margin-top: 5em;
        margin-right: 5em;
    }
}