.users {
    img {
        width: 10em;
        height: auto;
        margin-top: 2em;
    }

    .user {
        text-decoration: none;
        color: #000;
    }
    
    .user:hover {
        color: #42b983;        
    }
}