.users {  
  .loader {
    margin: 1em auto;
    width: 7em;
  }

  .search {
    position: relative;

    .search-input {
      padding: 1em 0;
      padding-left: 2em;
      width: 20em;
      height: 2em;
      outline: 0;
      outline-width: 0;
      border: 0;
      margin-left: 3em;
      border-bottom: 1px solid #000;
      -moz-outline-style: none;
    }

    .search-input::-webkit-input-placeholder {
      font-size: 1.3em;
      line-height: 3;
    }

    .search-input:focus,
    .search-input:active,
    .icon:focus,
    .icon:active {
      outline: 0;
      outline-width: 0;
      -moz-outline-style: none;
    }

    .icon {
      background: url(../../assets/icons/search-solid.svg);
      position: absolute;
      top: 10px;
      margin: 0.6em auto;
      border: 0;
      padding: 11px;
      min-width: 11.1px;
      min-height: 11.1px;
      margin-right: 2em;
    }

    .icon:hover {
      background: url(../../assets/icons/search-hover.svg);      
    }
  }

  img {
    width: 8em;
    height: auto;  
  }  
  
  a {
    display: flex;
    justify-content: space-around;    
    width: 20em;
    padding: 1em 2em;
    margin: 2em auto;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
  }
  
  a:hover {
    color: #42b983;
  }

  a > .info {
    margin: auto;
  }

  a:hover {
    color: #42b983;
  }

  .no-content {
    margin-top: 1em;    

    img {
      width: 15em;
      height: auto;
    }
  }

  .fade-enter-from {
    opacity: 0;  
  }
  .fade-enter-to {
    opacity: 1;    
  }
  .fade-enter-active {
    transition: all 1s ease;
  }

  @media only screen and (max-width: 600px) {
    a {
      width: 15em;
    }

    .search {
      .search-input {
        width: 13em;
      }
    }
  }

  @media only screen and (max-width: 350px) {
    a {
      width: 10em;
      display: block;
    }

    .search {
      .search-input {
        width: 10em;
      }
    }
  }
}
